@tailwind base;
@tailwind components;
@tailwind utilities;

.selected {
  @apply text-green-300 ;
}

.coins img {
  width: 40px ;
  height: 40px ;
  object-fit: cover ; 
}

.deskripsi a{
 @apply text-blue-600 underline;
}

@media only screen and (max-width: 990px){
  .selected {
    @apply bg-blue-500 text-white ;
  }

  .coins img {
    width: 35px ;
    height: auto ; 
  }
  
}